BAIDU_APP_KEY=
BAIDU_APP_SECRET=
BAIDU_REDIRECT_URI=
BAIDU_OAUTH_SCOPE=
BAIDU_OAUTH_FORCE_LOGIN=1

PANJIE_TEST_REMOTE_ROOT=盘姬测试
PANJIE_TEST_CREATE_FOLDER=false
PANJIE_TEST_CREATE_SHARE=false

TEST_SHARE_URL=
TEST_SHARE_EXTRACT_CODE=
